#{extends 'main.html' /}
#{set title:'Fiche utilisateur' /}

<form action="@Application.people()" method="GET">
   <div>
      Name: <input type="text" name="uid" value="${flash.uid}" />
      <input type="submit" value="Chercher" /> 
   </div>
</form>
<hr/>
<h1>${person ?: 'guest'}!</h1>
You have ou : ${person.ou}<br />
#{if jobs.size() > 0}
	You have jobs :
	<ul>
	#{list items:jobs, as:'job'}
		<li>
			${job.cn}
			<ul>
			#{list items:job.ou, as:'ou'}
				<li>${ou}</li>
			#{/list}
			</ul>
		</li>
	#{/list}
	</ul>
#{/if}
